html body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
}

body {
    margin: auto;
}

#resume{
    min-height:100vh;
    width: 90%;
    margin: 40px;
}

#resumeDiv{
    /* margin: auto; */
    text-align: center;
}