NODE_ENV=development
# Make sure to update the next.config.ts file with the correct hostname for images
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=test
NEXT_PUBLIC_AHREFS_ANALYTICS_ID=test
